.home-container{
    width: 99wh;
}

.home-data-container{
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-categorias-container{
    margin: 10px;
    width: 15vw;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.home-categorias-container p{
    font-size: 16px;
    margin: 10px;
}

.home-categorias-container p:hover{
    background-color: #f5f5f5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.home-itens-container{
    margin: 10px;
    margin-right: 5vw;
    width: 70vw;
    max-height: auto;
    background-color: #dfe6ed;
    display: flex;
    flex-direction: column;
    border-color: #9eadba;
    padding-bottom: 56px;
}

.home-itens-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
    padding-right: 0px;
    padding-left: 55px;
    margin-top: 24px;
    min-height: 600px;
    max-height: auto;
}

.home-filter-container{
    margin-left: 8%;
    margin-top: 2%;
}

.home-filter-container input{
    border-color: #b8c4cf;
}

.home-button-more{
	background-color:#7892c2;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Hina Mincho;
	font-size:20px;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.home-button-more:hover{
	background-color:#476e9e;
}

.home-button-more:active{
	position:relative;
	top:1px;
}