.coments-container{
    min-height: 600px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    margin: 80px;
    padding: 80px 100px;
    background-color: white;
    width: 88.5vw;
}

.coments-title{
    display: flex;
    font-size: 20px;
}

.coments-list-container{
    display: flex;
    flex-direction: column;
}

.coments-details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 5vw;
    width: 70vw;
    max-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0 30px !important;
    background-color: #f8f8f8;
}

.coments-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 80px;
    margin-left: 24px;
}

.coments-user-data{
    display: flex;
    margin: 5px;
    width: auto;
    height: 50px;
    border-radius: 50%;
    max-width: 50px;
    overflow-x: hidden;
}

.coments-data-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    width: 35vw;
    margin-top: 20px;
    padding-left:24px;
}

.coments-text-container{
    margin-top: 12px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}