.produto-container{
    max-height: 1500px;
}

.produto-info-container{
    min-height: 600px;
    max-height: 1200px;
    display: flex;
    flex-direction: row;
    margin: 80px;
    background-color: white;
}

.produto-img-desc-container{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.produto-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    margin-bottom: 16px;
}

.produto-img{
    max-width: 300px;
    max-height: 300px;
}

.produto-desc{
    max-height: 600px;
    padding: 24px 48px;
    border-radius: 20px;
    background-color: #ebf4f7;
}

.produto-valor-botoes-container{
    width: 220px;
    display: flex;
    flex-direction: column;
}

.produto-titulo{
    display: flex;
    justify-content: center;
    margin: 24px 0px;
    font-size: 32px;
}

.produto-preco{
    height: 50px;
    width: 220px;
    display: flex;
    justify-content: end;
    font-size: 28px;
    margin: 12px
}

.produto-qtd-container{
    height: 50px;
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0px;
}

.produto-qtd{
    font-size: 19px;
    width: 120px;
    padding: 10px 0px;
}

.produto-botoes{
    display: flex;
    flex-direction: row;
    width: 100px;
}

.produto-comprar{
    margin: 12px 0px;
}

.produto-nota{
    margin: 12px 0px;
}

.produto-comprar-button{
	background-color:#7892c2;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Hina Mincho;
	font-size:20px;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.produto-comprar-button:hover{
	background-color:#476e9e;
}

.produto-comprar-button:active{
	position:relative;
	top:1px;
}

.produto-qtd-button{
	background-color:#7892c2;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Hina Mincho;
	font-size:20px;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    margin: 0px 5px;
}

.produto-qtd-button:hover{
	background-color:#476e9e;
}

.produto-qtd-button:active{
	position:relative;
	top:1px;
}
