.register-container{
    display: flex;
    margin-top: 15vh;
    margin-left: 5vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    height: 70vh;
    width: 90vw;
}

.register-data-container{   
    display: flex;
    width: 45vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-img{
    border-radius: 50%;
}

.register-img-container{
    display: flex;
    width: 45vw;
    align-items: center;
    justify-content: center;
}

.register-vertical{
    height: 350px;
    width: 30px;
}

.register-title-container{
    font-size: 46px;
    padding-top: 30px;
}

.register-button-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

.register-checkbox-container{
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 250px;
}

.checkbox-radio{
    height: 15px;
    width: 15px;
}

.label-radio{
    padding-top: 2px;
    margin-left: 5px;
    margin-right: 35px;
}

.register-form-container{
    padding: 80px;
    padding-top: 30px;
}

.register-form-container form input{
    margin-top: 5px;
}

.register-myButton{
	background-color:#7892c2;
	border-radius:8px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Hina Mincho;
	font-size:20px;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    margin-right: 10px;
}
.register-myButton:hover{
	background-color:#476e9e;
}
.register-myButton:active{
	position:relative;
	top:1px;
}

.register-myButton2 {
	background-color:#ffffff;
	border-radius:8px;
	border:1px solid #859ee6;
	display:inline-block;
	cursor:pointer;
	color:#5ab6e8;
	font-family:Hina Mincho;
	font-size:20px;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5ab6e8;
}
.register-myButton2:hover {
	background-color:#d6d6d6;
}
.register-myButton2:active {
	position:relative;
	top:1px;
}
